<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<script src="http://handsontable.com/dist/handsontable.full.js"></script>
	<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" media="screen" href="http://handsontable.com/dist/handsontable.full.css">
	<script type="text/javascript">
		var ws_rails;
		ws_rails = new WebSocketRails('192.168.33.10:3000/websocket');

		window.onload = function() {
  			var request;
  			request = {
    			'mode': 'get',
   				'targetObject': 'MonthData',
    			'userId': 1
  			};
  			ws_rails.trigger('websocket_report', request);
		};

		ws_rails.bind('websocket_report', function(response) {
      console.log(response)
  			var container, data, hot;
  			data = [[
  				response.date,
  				response.day_of_week,
  				response.arrive_time,
  				response.leave_time,
  				response.predetermined_time,
  				response.shift_work,
  				response.shift_work_mid,
  				response.take_off_type_id,
  				response.overtime_work,
  				response.overtime_work_mid,
  				response.use_substitute,
  				response.use_compensatory,
  				response.get_substitute,
  				response.get_substitute_mid,
  				response.all_overtime,
  				response.take_off_type_id,
  				response.comment
  			]];
        console.log(response)
  			container = document.getElementById('example');
 			hot = new Handsontable(container, {
    			data: response,
   				minSpareRows: 0,
    			rowHeaders: false,
    			colHeaders: ['日付', '曜日', '出社時間', '退社時間', '所定時間', '変則深夜外', '変則深夜', '休暇区分', '残業深夜外'],
    			contextMenu: true,
    			fixedColumnsLeft: 2
  			});
		});
	</script>
	<script>
	$(function() {
		$("#tabhoge").tabs();
	});
	$(function() {

	});
	</script>
</head>
<body>
	<div id="tabhoge">
		<ul>
			<li><a href="#t-1">4月</a></li>
			<li><a href="#t-2">5月</a></li>
			<li><a href="#t-3">6月</a></li>
		</ul>
		<div id="t-1"><div id="example"></div></div>
		<div id="t-2"><div id="exampleGrid" class="dataTable"></div></div>
		<div id="t-3">aaaaaa</div>
	</div>

</body>
</html>